.ProgramStructureGridCardMainDiv {
    display: flex;
}

.ProgramStructureGridCardImgDiv {
    width: 187px;
    height: 160px;
    margin-right: 34px;
}
.ProgramStructureGridCardImgDiv>img {
    width: 187px;
    height: 160px;
    border-radius: 16px;
}

.ProgramStructureGridCardImgDiv44 {
    margin-right: 44px;
}

.ProgramStructureGridCardDetailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProgramStructureGridCardDetailsDiv>h2 {
    width: 82px;
    height: 27px;
    margin-top: 7px;
    font-size: 20px;
    line-height: 28px;
    color: #73A046;
}

.ProgramStructureGridCardDetailsDiv>div {
    width: 279px;
    /* height: 118px; */
    line-height: 23px;
    color: #393939;
}

.ProgramStructureGridCardDetailsDiv>div>h2 {
    font-size: 15px;
}

.ProgramStructureGridCardDetailsDiv>div>span {
    font-size: 14px;
}