.HomePageMainDiv {
    max-width: 1441px;
}

.WelcomeDescriptionDiv {
    width: 843px;
    height: 124px;
    margin-top: 54px;
    margin-left: 301px;
}
.WelcomeDescriptionDiv>p {
    line-height: 28px;
    text-align: center;
    color: #393939;
}

